.SingleBook {
    border: 1px solid grey
}

.SingleBook img {
    height: 400px;
    object-fit: cover;
    position: relative
}

.card-title {
    font-size: medium;
}

.card-body {
    height: 70px;
    display: flex;
    align-items: center;
}

.Card-Container {
    border: 3px solid grey;
    border-radius: 0.375rem;
}

.card-button {
    visibility: hidden;
    position: absolute;
    bottom: 70px;
    right: 0;
    left: 0;
}

.SingleBook:hover img {
    opacity: 0.5;
    transition: 0.3s;
}

.SingleBook:hover .card-button {
    visibility: visible;
    transition: 0.5s;
}

.comment-area {
    border: 3px solid grey;
    border-radius: 0.375rem;
}

.link {
    text-decoration: none;
    font-weight: 700;
}